@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #1B2029;
    font-family: Arial, sans-serif;
    background: #1B2029;
}

/* Cabeçalho */
header {
    background-color: #1B2029;
}

.logo{
    width: 90%;
}

.CadastraModelo {
    border: 2px solid #8880FE; 
    border-radius: 30px;
    font-size: 1.5rem;
    background: #1B2029;
    color: #8880FE;
}

.login {
    border: 2px solid #8880FE;
    padding: 10px;
    border-radius: 30px;
    font-size: 1.5rem;
    background: #1B2029;
    color: #8880FE;
    margin-top: 10px;
}

.cadastro {
    border: 2px solid #8880FE;
    padding: 8px;
    border-radius: 30px;
    font-size: 1.5rem;
    background: #1B2029;
    color: #8880FE;
}

.CadastraModelo:hover,
.login:hover,
.cadastro:hover {
    background: #8880FE;
    color: white;
    transition: 0.3s all;
}

select:focus {
    border-color: #6C63FF !important;
    box-shadow: 0 0 0 0.25rem rgba(108, 99, 255, 0.25) !important;
}

/* Index */
.modelos {
    border-radius: 10px;
}

.corpo {
    padding: 0px 8px;
}

.resultado {
    color: whitesmoke;
}

/* Acesso */

.bi {
    background-color: white;
    font-size: 3rem;
}


.dados {
    margin: 10px;
    border-radius: 10px;
}

/* Paginação */
.paginaton {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-color: #8880FE;    
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.paginaAtual {
    border: 2px solid #2619db;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 1.3rem;
    background: #1B2029;
    color: #80c5da;
    text-decoration: none;
}

.paginaton-link {
    text-decoration: none;
    padding: 5px 10px;
    color: #ccc;
    border: 2px solid #8880FE;
    border-radius: 30px;
    font-size: 1.3rem;
    background: #1B2029;
}

.paginaton-link:hover {
    background: #8880FE;
    color: white;
    transition: 0.3s all;
}

/* Rodapé */
footer {
    font-size: 12px;
    background: #1B2029;
    height: 2.5rem;
    color: white;
}

.ttl {
    font-size: 22px;
    padding-left: 15px;
}

.xinga {
    cursor: pointer;
    width: 15%;
    border: none;
    border-radius: 32px;
    background: white;
    color: #161923;
    font-size: 0.9rem;
    transition: all .3s ease-in-out;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.copyrightText {
    width: 100%;
    padding: 8px;
    text-align: center;
    background: #1f252f;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-color: #8880FE;
}
